server:
  port: 8085

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:8081
          predicates:
            - Path=/auth/**

        - id: student-service
          uri: http://student-service:8082
          predicates:
            - Path=/api/students/**
