server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/app_db
    username: app_user
    password: app_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

management:
  server:
    port: 8083
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true